// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #151515 !default;

$primary: #151515 !default;
$secondary: rgb(255, 248, 173) !default;
$gray: #343a40 !default;
$blue: #193E40 !default;
$green: rgba(167, 173, 85, 1) !default;
$orange: #EDC855 !default;
$red: #962622 !default;
$black-light: rgba(33, 32, 30, 1) !default;
